absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
Bottleneck==1.3.4
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
construct==2.10.54
cryptography==3.4.8
cycler==0.11.0
Cython==0.29.28
cytoolz==0.11.0
daal4py==2021.5.0
dask==2022.2.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
docutils==0.18.1
entrypoints==0.4
evdev==1.5.0
executing==0.8.3
fastjsonschema==2.15.3
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.2.0
fsspec==2022.2.0
future==0.18.2
gast==0.4.0
google-auth==2.6.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.20
greenlet==1.1.2
grpcio==1.42.0
h5py==2.10.0
idna==3.3
imagecodecs==2021.8.26
imageio==2.9.0
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipykernel==6.9.1
ipython==8.3.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.13.0
keepmenu==1.3.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
locket==0.2.1
lockfile==0.12.2
lxml==4.8.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.3
multidict==5.2.0
munkres==1.1.4
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.7.1
notebook==6.4.11
notebook-shim==0.1.0
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
onnx==1.10.2
onnxruntime==1.11.1
opencv-contrib-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
passhole==1.9.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip==21.2.4
plumbum==1.7.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.21
pycryptodomex==3.14.1
pydot==1.4.2
Pygments==2.12.0
PyGObject==3.42.0
PyJWT==2.1.0
pykeepass==4.0.1
pykeepass-cache==2.0.3
pynput==1.7.6
pynvim==0.4.3
pyOpenSSL==21.0.0
pyotp==2.6.0
pyparsing==3.0.4
pyrsistent==0.18.0
PySocks==1.7.1
pythainlp==3.0.5
python-daemon==2.3.0
python-dateutil==2.8.2
python-xlib==0.31
pytz==2021.3
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.0
rich==12.4.1
rpyc==5.1.0
rsa==4.7.2
scikit-image==0.19.2
scikit-learn==1.0.2
scikit-learn-intelex==2021.20220215.212715
scipy==1.7.3
Send2Trash==1.8.0
setuptools==61.2.0
silence-tensorflow==1.2.0
sip==4.19.13
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
stack-data==0.2.0
tensorboard==2.6.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.4.1
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.13.3
threadpoolctl==2.2.0
tifffile==2021.7.2
tinycss2==1.1.1
tinydb==4.7.0
toolz==0.11.2
tornado==6.1
traitlets==5.2.0
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.0.3
wheel==0.37.1
wrapt==1.13.3
yarl==1.6.3
zipp==3.8.0
